.winningtoooften {
	color:coral;
}
.unusual {
	color:blue;	
}

.highlyunusual {
	color:red;
	font-weight:bold;
}

.highpayoutchance {
	color:yellowgreen;
}
thead {
	text-align:left;
	padding:none;
}
tfoot {
	text-align:left;
	padding:none;
}